/*RESET CSS BEGIN*/


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Montserrat', sans-serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*RESET CSS END*/


/*HELPER CLASS BEGIN*/

img{
    max-width: 100%;
}


.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.no-margin-bottom {
    margin-bottom: 0;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

strong,
b {
    font-weight: 700;
}

em,
i {
    font-style: italic;
}

p,
ul li,
ol li {
    font-size: 16px;
    line-height: 23px;
    margin: 0 0 20px 0;
}

ul li,
ol li {
    margin-bottom: 10px;
}


/*HELPER CLASS END*/

* {
  box-sizing: border-box;
  outline: 0;
}

.wrapper{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/*##### NAVIGATION BAR + HEADER STYLE #####*/
header{
    background-color: transparent;
    width: 100%;
    position: relative;
}

header.sticky{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transform: translateY(-200%);
    transition: 0.2s;
    z-index: 5;
}

body.scroll header.sticky{
    transform: translateY(0);
}


.nav-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
}

nav.nav-wrapper ul li {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 0;
}

nav.nav-wrapper ul li a {
    font-size: 17px;
    line-height: 22px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    padding-bottom: 3px;
    /*-webkit-transition: 0.3s;*/
    transition: 0.3s;
}

nav.nav-wrapper ul li a:hover {
    border-bottom: 1px solid #ffffff;
}

header .logo img{
      max-width: 100px;
}

/* ##### PARALLAX PAGE STYLES START ###### */

.cover-main{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url("../images/hero-bg.jpg") right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh; /*visible height*/
}


ul#scene li.name{
    text-align: center;
    font-size: 40px;
    line-height: 45px;
    text-transform: uppercase;
    color: white;
    width: 100%;
}

ul#scene li.title{
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    text-transform: uppercase;
    color: white;
    width: 100%;
    margin-top: 60px;
}

ul#scene{
    margin-top: 100px;
}

.btn{
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

.portfolio-btn,
.contact-btn{
    margin: 0 auto;
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid white;
    background: transparent;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.portfolio-btn:hover,
.contact-btn:hover{
    background: white;
    color: black;
}

.portfolio-btn{
    margin-right: 30px;
}

.contact-btn{
    margin-left: 30px;
}

/* ##### PARALLAX PAGE STYLES END ###### */

/* ##### MASONRY JS STYLE START #####*/

.masonry-grid{
    position: relative;
}

.grid{
    margin: 0 auto;
}

.grid-item{
    width: 450px;
}

.tall-img{
    height: 680px;
}

h2.sub-title{
    position: relative;
    display: block;
    margin: 70px auto;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
}

h2.sub-title::after{
    display: block;
    height: 2px;
    background-color: #000000;
    content: "";
    width: 100px;
    margin: 30px auto 0 auto;
}

/* ##### MASONRY JS STYLE END #####*/

/* ##### I LOVE PHOTOGRAPHY ANIMATION STYLES START ###### */

section.beating-heart{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero-bg.jpg") no-repeat right bottom / cover;
    text-align: center;
    height: 100vh;
    padding: 50px 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

section.beating-heart span{
    font-size: 100px;
    line-height: 105px;
}

section.beating-heart h2{
    margin-bottom: 30px;
}

section.beating-heart h2::after{
    background: white;
}

.heart{
    position: relative;
    fill: red;
    width: 150px;
    margin: 0 50px;
    -webkit-animation: pulse 1s infinite;
            animation: pulse 1s infinite;
}
 /*use keyframes to connect with the animations*/
@-webkit-keyframes pulse{
    /* animation start then it become 50% size, then complete a circle I equalit to beginnig */
    0%{
        transform: scale(1);
    }

    15%{
        transform: scale(1.25);
    }

    25%{
        transform: scale(1.15);
    }

    35%{
        transform: scale(1.25);
    }

    50%{
        transform: scale(2);
    }

    100%{
        transform: scale(1);
    }
}
@keyframes pulse{
    /* animation start then it become 50% size, then complete a circle I equalit to beginnig */
    0%{
        transform: scale(1);
    }

    15%{
        transform: scale(1.25);
    }

    25%{
        transform: scale(1.15);
    }

    35%{
        transform: scale(1.25);
    }

    50%{
        transform: scale(2);
    }

    100%{
        transform: scale(1);
    }
}

/* ##### I LOVE PHOTOGRAPHY ANIMATION STYLES END ###### */


/* ##### SLIDER STYLES START ###### */

.slider-div h2{
    margin-bottom: 0;
}

.slider{
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    color: white;
}

.slide{
    max-height: 300px;
    padding: 15px;
}

.slick-prev,
.slick-next{
    background: black;
    width: 40px;
    height: 40px;
    z-index: 1;
}

.slick-prev{
    left: 0;
}

.slick-next{
    right: 0;
}

.slick-prev:hover,
.slick-next:hover{
    background: black;
}

/* ##### SLIDER STYLES END ###### */

/* ##### FOOTER STYLES START ###### */

footer {
    position: relative;
    z-index: -2;
    height: 150px;
    background: black;
    color: white;
    text-align: center;
}

footer h1 {
    position: fixed;
    font-size: 20px;
    line-height: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    left: 50%;
    bottom: 50px;
    width: 800px;
}

/* ##### FOOTER STYLES END ###### */

@media only screen and (max-width: 1160px) {
    section.beating-heart span {
      font-size: 30px;
      line-height: 35px;
    }

    .heart {
      width: 50px;
      margin: 0 20px;
    }

}


/* ##### RESPONSIVE MENU STYLES STARTS ##### */
/*media query describes what happen to the curtain eement when t comes to the size*/
@media only screen and (max-width:768px){

    /*done this because when screen size changing it show like mobile app */
    .menu-trigger {
        background: url('../images/hamburger-icon.svg') no-repeat center / cover;
        width: 35px;
        height: 35px;
        display: block;
        z-index: 10;
        position: absolute;
        right: 20px;
        top: 15px;
    }

    /*done this because when screen size changing want to show black screen*/
    .main-overlay {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.72);
        z-index: 6;
        display: none;
    }

    .main-overlay:after {
        background: url('../images/close-icon.svg') no-repeat center / cover;
        width: 35px;
        height: 35px;
        display: block;
        content: "";
        position: fixed;
        top: 10px;
        right: 20px;
        z-index: 20;
    }


        /*menu screen goes from right side */
    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        background: #131313;
        width: 100%;
        max-width: 300px;
        z-index: 30;
        transform: translate3d(-100%, 0, 0);
        transition: 0.3s;
    }

    /* use like this because avoid overriding */
    nav.nav-wrapper ul li {
        display: block;
        margin-top: 20px;
        padding: 0;
        padding-bottom: 20px;
    }

    nav.nav-wrapper ul li a {
        font-size: 18px;
        line-height: 23px;
    }

    nav.nav-wrapper ul li a:hover {
        border-color: transparent;
    }

    body.menu-is-active .menu {
        transform: translate3d(0, 0, 0);
        display: block;
        padding: 0 15px;
    }

    body.menu-is-active .main-overlay {
        display: block;
    }

    body.menu-is-active .menu-trigger {
        display: none;
    }

}
/* resolution response for tablets and mobiles */
@media only screen and (max-width: 560px) {

    ul#scene li.name {
      font-size: 22px;
      line-height: 27px;
    }

    ul#scene li.title {
      font-size: 20px;
      line-height: 25px;
      margin-top: 40px;
    }

    div.grid {
        width: initial !important;
    }

    .btn {
      margin-top: 80px;
    }

    ul#scene {
      margin-top: 50px;
    }

    .portfolio-btn,
    .contact-btn {
      display: block;
      margin: 20px auto;
      max-width: 120px;
      font-size: 15px;
      line-height: 20px;
      padding: 10px 0;
    }

    h2.sub-title {
      margin: 30px auto;
      font-size: 23px;
      line-height: 28px;
    }

    section.beating-heart {
      height: initial;
    }

    footer {
      height: 100px;
    }

    footer h1 {
      font-size: 15px;
      line-height: 20px;
      bottom: 40px;
    }

    .grid-item {
        width: initial;
    }

    .tall-img {
      height: initial;
    }

    .menu {
      max-width: 200px;
    }

}

/* ##### RESPONSIVE MENU STYLES END ##### */
